head,
body {
    margin-bottom: auto;
    background-attachment: fixed;
    background-image: url("../../imgs/concertbgnfrontpage.jpeg");
    background-size: cover;
    /* overflow-y: hidden; */
}

.form {
    background-color: rgba(255, 255, 255, 0.61);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Audiowide", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.jumbotron {
    grid-area: 1 / 1 / 2 / 7;
}

.form {
    grid-area: 3 / 3 / 4 / 5;
}

.eventList {
    grid-area: 5 / 1 / 9 / 3;
}

.concertSched {
    grid-area: 5 / 3 / 7 / 7;
}

.weatherSched {
    grid-area: 7 / 3 / 9 / 7;

}

.jumbotron {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.40);
    font-size: 27px;
}

.jumbotron p {
    font-size: 22px;
    font-weight: bold;
}

.venueList {}

#venueBtn {
    font-size: 95%;
}

#cityBtn {
    font-size: 97%;
}

#concert1 h4, #concert2 h4, #concert3 h4, #concert4 h4, #concert5 h4 {
    color:blue;
    font-weight:bold;
    text-decoration: underline;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
    .form {
        width: 100%;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .form {
        width: 100%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}